.cart-body{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    @include max-991{
        grid-template-columns: 1fr;
    }
    .prods{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .prods-heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include max-991{
            flex-direction: column;
        }
        h2{
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 0;
        }
        button{
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 0;
            color: #C71919;
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
        }
    }
    .cart-products{
        display: flex;
        flex-direction: column;
        padding: 22px 40px;
        border: 1px solid rgba(28, 28, 28, 0.1);
        border-radius: 10px;
        background-color: $white;
        @include max-991{
            padding: 15px 15px;
        }
        .cart-product{
        }
    }
}