.tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 30px;

    .tab {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 0 9px 10px;
        cursor: pointer;
        position: relative;
        @include tr;
        text-align: center;



        img {
            width: 20px;
            height: auto;
        }

        span {
            font-size: 18px;
            font-weight: 400;
            color: #484C52;
        }
    }

    .tab:hover {
        span {
            font-size: 18px;
            font-weight: 700;
            color: $main;
        }

        ::after {
            position: absolute;
            content: "";
            width: 35px;
            height: 2px;
            border-radius: 0px 0 10px 10px;
            bottom: -3px;
            right: 50%;
            background-color: var(--main-color);
            transform: translateX(50%);
        }
    }

    .avtiveTab {
        border-bottom: 1px solid $main;

        ::after {
            position: absolute;
            content: "";
            width: 35px;
            height: 2px;
            border-radius: 0px 0 10px 10px;
            bottom: -3px;
            right: 50%;
            background-color: var(--main-color);
            transform: translateX(50%);

        }

        span {
            font-size: 18px;
            font-weight: 700;
            color: $main;
        }
    }

}

.tab-bullet-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;

    .bullet {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        flex-shrink: 0;
        border: 1px solid $main ;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 767px) {
            width: 20px;
            height: 20px;
        }

        .bullet-dot {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: $main;

            @media screen and (max-width: 767px) {
                width: 12px;
                height: 12px;

            }
        }

    }
}

.HomeContentHeader {
    .swiper-slide {
        height: auto;
    }


    .products {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 60px;

        .cat-cat {
            margin-bottom: 24px;
        }

        .products-group-title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .group-title {
                margin: 0;
                color: $black;
                font-size: 22px;
                font-weight: 700;
            }

            .seeLink {
                color: $black;
                font-size: 18px;
                font-weight: 400;
            }
        }


    }

    .cards-cont {
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // gap: 12px;

    }

    // @media (max-width: 991px) {
    //     .cards-cont {
    //         grid-template-columns: repeat(3, 1fr);

    //     }
    // }
    // @media (max-width: 767px) {
    //     .cards-cont {
    //         grid-template-columns: repeat(2, 1fr);

    //     }
    // }
    // @media (max-width: 525px) {
    //     .cards-cont {
    //         grid-template-columns: repeat(1, 1fr);

    //     }
    // }


    .product-card {
        padding: 20px 20px 15px;
        position: relative;
        background-color: $white;
        display: flex;
        flex-direction: column;
        border: 1px solid rgba($color: #1C1C1C, $alpha: .10);
        border-radius: 10px;
        @include tr;

        .img-cont {
            width: 100%;
            height: 144px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-height: 144px;
                width: auto;
                max-width: 144px;
                object-fit: contain;
                margin-bottom: 20px;
            }
        }

        .offerTag {
            position: absolute;
            top: 0px;
            inset-inline-start: 26px;
            width: 37px;
            height: 47px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 3px;

            // background-image: url('../assets/Home/offer.svg');
            p {
                font-size: 12px;
                font-weight: 400;
                color: $white;
                text-align: center;
                margin: 0;
                line-height: 14.4px;
            }
        }

        .fa-bookmark {
            position: absolute;
            top: 20px;
            inset-inline-end: 20px;
            font-size: 21px;
            color: $black;
            cursor: pointer;
        }

        .colored {
            color: $main;
        }

    }

    .product-ticket {
        position: relative;
        padding: 0;
        border-radius: 10px;
        overflow: hidden;
        height: 100%;
        // border: 1px solid rgba($color: #1C1C1C, $alpha: .20);
        display: flex;
        flex-direction: column;

        .productName {
            height: unset;
            padding-bottom: 10px;
            border-bottom: 1px dashed rgba($color: #1C1C1C, $alpha: .20);
        }

        .img-cont {
            width: 100%;
            height: 133px;
            position: relative;
        }

        .prod-price {
            position: absolute;
            bottom: 0;
            inset-inline-end: 13px;
            flex-direction: column;
            aspect-ratio: 1 / 1;
            padding: 8px;
            border-radius: 50%;
            min-height: 50px;
            background-color: $main;
            bottom: -25px;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;

            .num {
                font-size: 16px;
                font-weight: 600;
            }

            .curr {
                font-size: 12px;
                font-weight: 400;
            }

        }

        img {
            width: 100%;
            height: 100%;
            max-width: unset;
            max-height: unset;
            object-fit: cover;
        }

        .productName {
            width: calc(100% - 50px);
        }

        .data-cont {
            padding: 17px 13px;
            border: 1px solid rgba($color: #1C1C1C, $alpha: .20);
            border-radius: 0 0 10px 10px;
            height: 100%;
            display: flex;
            flex-direction: column;

            .feature-cont {
                height: 100%;
            }

            ul {
                padding-inline-start: 13px;
                margin-bottom: 0;
            }

            li {
                font-size: 14px;
                font-weight: 400;
                color: $black;
                margin-bottom: 8px;
            }

            li:last-child {
                font-weight: 600;

            }

            .circul {
                position: absolute;
                width: 16px;
                height: 16px;
                top: 50%;
                inset-inline-end: -8px;
                background-color: #f9f9f9;
                border: 1px solid rgba($color: #1C1C1C, $alpha: .20);
                border-radius: 50%;
            }

            .circul2 {
                inset-inline-start: -8px;
            }
        }
    }

    .product-card:hover {
        border: 1px solid $main;

        .addBtn {
            background-color: $main;
            color: $white;
        }

    }



    .productName {
        color: $black;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
        height: 45px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-overflow: ellipsis;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        margin-bottom: 12px;

    }

    .productCat {
        font-size: 16px;
        font-weight: 400;
        color: #484C52;
        margin-bottom: 6px;
    }

    .rate {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 10px;

        i {
            font-size: 15px;
            color: #C3C3C3;
        }

        .golden {
            color: #FAC950;
        }
    }

    .price-period {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .period {
            color: #484C52;
            font-size: 16px;
            font-weight: 400;
        }
    }

    .productPrice {
        font-size: 18px;
        font-weight: 700;
        color: $black;
        margin-bottom: 11px;
    }

    .addBtn {
        width: 100%;
        height: 40px;
        border: 1px solid $main;
        border-radius: 7px;
        text-align: center;
        line-height: 40px;
        color: $main;
        font-size: 16px;
        font-weight: 500;
        background-color: transparent;
    }

    .addBtn:hover {
        transform: scale(1.1);
    }
}

.addBtn {
    width: 100%;
    height: 40px;
    border: 1px solid $main;
    border-radius: 7px;
    text-align: center;
    line-height: 40px;
    color: $main;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
}

.addBtn:hover {
    transform: scale(1.1);
}

@media (max-width: 767px) {
    .tabs {
        gap: 5px;

        .tab {
            span {
                font-size: 13px;

            }
        }

        .tab:hover span {
            font-size: 13px;
        }
    }
}

:where([data-sonner-toast][data-mounted="true"]) {
    border: 1px solid $main;
}

:where([data-sonner-toast][data-styled="true"]) {
    border: 1px solid $main;
}

.ticket-checkout-cont {
    display: flex;
    flex-direction: column;
    align-items: center;

    .img-cont {
        width: 170px;
        height: 170px;
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: 16px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    h3 {
        font-size: 18px;
        font-weight: 600;
        color: $black;
        margin-bottom: 16px;
    }

    h4 {
        font-size: 16px;
        font-weight: 700;
        color: $black;
        margin-bottom: 16px;
    }

    .count-cont-discount {
        margin-bottom: 16px;
    }

    .input-cont {
        width: 100%;

        label {
            margin-bottom: 8px;
        }

        .imp-btn-cont {
            margin-bottom: 16px;
        }
    }

    .methods-cont {
        padding: 15px;
        width: 100%;
    }

    .methods-cont {
        .tabs {
            gap: 8px;
            margin-bottom: 10px;
            justify-content: space-around;
            .tab {
                gap: 5px;

                span {
                    font-size: 14px;
                }
            }

            .tab:hover {
                span {
                    font-size: 14px;
                }
            }

            .avtiveTab {
                border-bottom: 1px solid $main;
                gap: 5px;

                span {
                    font-size: 14px;
                    font-weight: 700;
                    color: $main;
                }
            }

        }
    }
}